<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @aviso.titulo %>
</p>

<p>
  <strong>Mensagem:</strong>
  <%= @aviso.mensagem %>
</p>

<p>
  <strong>Flgstatus:</strong>
  <%= @aviso.flgStatus %>
</p>

<p>
  <strong>Inseridopor:</strong>
  <%= @aviso.inseridoPor %>
</p>

<p>
  <strong>Datadeinsercao:</strong>
  <%= @aviso.dataDeInsercao %>
</p>

<p>
  <strong>Atualizadopor:</strong>
  <%= @aviso.atualizadoPor %>
</p>

<p>
  <strong>Datadeatualizacao:</strong>
  <%= @aviso.dataDeAtualizacao %>
</p>

<%= link_to 'Edit', edit_aviso_path(@aviso) %> |
<%= link_to 'Back', avisos_path %>
