<p id="notice"><%= notice %></p>

<h1>Listing Apresentacao Ebooks</h1>

<table>
  <thead>
    <tr>
      <th>Conteudo</th>
      <th>Inseridopor</th>
      <th>Datadeinsercao</th>
      <th>Atualizadopor</th>
      <th>Datadeatualizacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apresentacao_ebooks.each do |apresentacao_ebook| %>
      <tr>
        <td><%= apresentacao_ebook.conteudo %></td>
        <td><%= apresentacao_ebook.inseridoPor %></td>
        <td><%= apresentacao_ebook.dataDeInsercao %></td>
        <td><%= apresentacao_ebook.atualizadoPor %></td>
        <td><%= apresentacao_ebook.dataDeAtualizacao %></td>
        <td><%= link_to 'Show', apresentacao_ebook %></td>
        <td><%= link_to 'Edit', edit_apresentacao_ebook_path(apresentacao_ebook) %></td>
        <td><%= link_to 'Destroy', apresentacao_ebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apresentacao ebook', new_apresentacao_ebook_path %>
