<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :curso_id %><br>
    <% options = options_from_collection_for_select(@cursos, 'id', 'nome') %>
    <%= f.select :curso_id,  options %>  
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :flgStatus %><br>
    <%= f.check_box :flgStatus %>
  </div>
  <div class="field">
    <%= f.label :inseridoPor %><br>
    <%= f.text_field :inseridoPor %>
  </div>
  <div class="field">
    <%= f.label :dataDeInsercao %><br>
    <%= f.datetime_select :dataDeInsercao %>
  </div>
  <div class="field">
    <%= f.label :atualizadoPor %><br>
    <%= f.text_field :atualizadoPor %>
  </div>
  <div class="field">
    <%= f.label :dataDeAtualizacao %><br>
    <%= f.datetime_select :dataDeAtualizacao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
