<p id="notice"><%= notice %></p>

<h1>Listing Idioma Avisos</h1>

<table>
  <thead>
    <tr>
      <th>Idioma</th>
      <th>Aviso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @idioma_avisos.each do |idioma_aviso| %>
      <tr>
        <td><%= idioma_aviso.idioma.nome %></td>
        <td><%= idioma_aviso.aviso.mensagem %></td>
        <td><%= link_to 'Show', idioma_aviso %></td>
        <td><%= link_to 'Edit', edit_idioma_aviso_path(idioma_aviso) %></td>
        <td><%= link_to 'Destroy', idioma_aviso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idioma aviso', new_idioma_aviso_path %>
