<p id="notice"><%= notice %></p>

<p>
  <strong>Idioma:</strong>
  <%= @idioma_aviso.idioma.nome %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @idioma_aviso.aviso.titulo %>
</p>

<p>
  <strong>Mensagem:</strong>
  <%= @idioma_aviso.aviso.mensagem %>
</p>

<%= link_to 'Edit', edit_idioma_aviso_path(@idioma_aviso) %> |
<%= link_to 'Back', idioma_avisos_path %>
