<p id="notice"><%= notice %></p>

<h1>Listing Ap Tipo Contatos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Flgstatus</th>
      <th>Inseridopor</th>
      <th>Datadeinsercao</th>
      <th>Atualizadopor</th>
      <th>Datadeatualizacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ap_tipo_contatos.each do |ap_tipo_contato| %>
      <tr>
        <td><%= ap_tipo_contato.nome %></td>
        <td><%= ap_tipo_contato.flgStatus %></td>
        <td><%= ap_tipo_contato.inseridoPor %></td>
        <td><%= ap_tipo_contato.dataDeInsercao %></td>
        <td><%= ap_tipo_contato.atualizadoPor %></td>
        <td><%= ap_tipo_contato.dataDeAtualizacao %></td>
        <td><%= link_to 'Show', ap_tipo_contato %></td>
        <td><%= link_to 'Edit', edit_ap_tipo_contato_path(ap_tipo_contato) %></td>
        <td><%= link_to 'Destroy', ap_tipo_contato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ap tipo contato', new_ap_tipo_contato_path %>
